/* Introduction */
.myBio, .toolsNEdu, .myExperiences {
    display: flex;
    align-items: center;

    margin-top: 170px;
    gap: 80px;

    padding: 20px 0; 
}

.intro {
    flex-direction: column;
    gap: 30px;
    width: fit-content;
    flex: 0 1 auto;
}

.hello {
    display: inline-block;
    transform-origin: bottom left; 
    animation: wave 2s ease-in-out 1;

    padding: 10px;
}

.hello:hover {
    cursor: pointer;

    animation: greeting 2s ease-in-out 1;
}


@keyframes wave {
    0% {
        transform: translateY(10px) rotate(0deg);
    }
    30% {
        transform: translateY(-20px) rotate(0deg);
    }
    40%, 60%, 80% {
        transform: translateY(-20px) rotate(-13deg);
    }
    50%, 70%, 90% {
        transform: translateY(-20px) rotate(-7deg);
    }
    100% {
        transform: translateY(10px) rotate(0deg);
    }
}

@keyframes greeting {
    0% {
        transform: translateY(10px) rotate(0deg);
    }
    30% {
        transform: translateY(-20px) rotate(0deg);
    }
    40%, 60%, 80% {
        transform: translateY(-20px) rotate(-13deg);
    }
    50%, 70%, 90% {
        transform: translateY(-20px) rotate(-7deg);
    }
    100% {
        transform: translateY(10px) rotate(0deg);
    }
}

.myPhoto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--clr-neutral-100);
    padding: 10px;
    border-radius: 10px;

    animation: bubble 5s ease-in-out infinite;
}

@keyframes bubble {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.myPhoto img {
    border-radius: 10px;
    background-color: var(--clr-primary-500);

    flex-shrink: 0;
}

/* Experience */
.toolsNEdu, .myExperiences {
    display: flex;
    flex-direction: column;
    padding: 0  0 100px 0; 

    margin-top: 0;
}

.toolkit {
    flex: 1;
    min-width: 300px;
    max-width: 380px;
}

.designTools, .devTools {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.designTool, .devTool {
    display: flex;
    padding: 10px;
    background-color: var(--clr-primary-650);

    border-radius: 10px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid hsl(from var(--clr-primary-800) h s l / 0.5);
}

.myBio h2 {
    font-size: 2rem;
}

.workPlace {
    font-size: 1.2rem;
}

.education {
    width: 380px; 
    flex-shrink: 0;
}
