.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    gap: 4vw;
    width: min(1500px, 90vw);
    
    padding: 20px;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
    padding: 14px 12px;

    border-radius: 16px;
    border: 2px solid var(--clr-secondary-300);
    background-color: var(--clr-secondary-400);
    box-shadow: 0 0 0 hsl(from var(--clr-secondary-300) h s l / 0);

    overflow-x: hidden;
    transition: box-shadow 0.3s ease; 
}

.project::after {
    content: '';
    background-color: var(--clr-secondary-300);
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 4px;

    transition: width 0.5s ease;
}

.project:hover::after {
    width: 100%;
}

.project:hover {
    box-shadow: 0 0 30px hsl(from var(--clr-secondary-300) h s l / 0.5);
}

.notDone {
    border: 2px solid hsl(352 100% 65%);
}

.notDone::after {
    background-color: hsl(352 100% 65%);
}

.notDone:hover {
    box-shadow: 0 0 30px hsl(352 100% 65% / 0.5);
}

.project:hover .title span {
    color: hsl(from var(--clr-secondary-300) h 100% 60%);
}

.project:hover .not span {
    color: hsl(352 100% 65%);
}

.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 100%;
    height: 420px;
    border-radius: 16px;

    background-color: var(--clr-primary-300);
    object-fit: cover; 
}

.title span {
    color: var(--clr-primary-600);
    transition: color 0.3s ease;
}

.tools {
    display: flex;
    gap: 10px;
    margin-top: auto;

    flex-wrap: wrap;
}

.tool {
    background-color: var(--clr-primary-650);
    border-radius: 10px;
    border: 2px solid hsl(from var(--clr-primary-800) h s l / 0.5);
    padding: 10px;
}