html {
  scroll-behavior: smooth;
}

.project-container {
  display: flex;
  margin: 120px auto;
}

.sidebar {
  position: fixed;
  top: 0;

  width: 20vw;
  height: 100vh;
  padding: 180px 40px 40px 150px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 50px;
}

.sidebar a {
  text-decoration: none;
  color: var(--clr-neutral-100);

  font-size: 18px;
}

.content-area {
  flex-direction: column;
  flex: 1;
  gap: 30px;
  padding: 40px 160px;
  margin-left: 20vw;
}

.overview-list {
  list-style: none;
  display: flex;

  gap: 50px;
}

.overview-list li {
  flex-direction: column;
  text-align: center;
}

.overview-list span {
  max-width: 12vw;
}

.content-image {
  border-radius: 20px;
}

.section-body {
  margin-bottom: 70px;
}

.section-body p {
  white-space: pre-line; /* This makes \n render as an actual line break! */
}
