html {
  scroll-behavior: smooth;
}

.project-container {
  display: flex;
  margin: 120px auto;
}

.sidebar {
  position: fixed;
  top: 0;

  width: 22vw;
  height: 100vh;
  padding: 180px 40px;

  box-shadow: 0 0 30px hsl(from var(--clr-primary-800) h s l / 0.5);
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 40px;
}

.sidebar a {
  text-decoration: none;
  color: var(--clr-neutral-100);

  font-size: 16px;
}

.content-area {
  flex-direction: column;
  flex: 1;
  gap: 30px;
  padding: 40px 60px;
  margin-left: 22vw;

  width: calc(100% - 22vw);
}

.overview-list {
  list-style: none;
  display: flex;
  align-items: flex-start;

  gap: 50px;
}

.overview-list li {
  flex-direction: column;
  text-align: center;
}

.overview-list span {
  max-width: 13vw;
}

.content-image {
  border-radius: 20px;
}

.section-body {
  margin-bottom: 70px;
  max-width: 50vw;

  scroll-margin-top: 200px;
}

.section-body p {
  white-space: pre-line; /* This makes \n render as an actual line break! */
}

.video-section {
  width: 100%;
  margin-top: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  width: 100%;
}

.video-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-card video {
  border-radius: 10px;
  background-color: var(--clr-primary-800); 
  width: 100%;
  height: auto;
}

.video-name {
  color: var(--clr-neutral-100);
  font-size: 1rem;
  font-weight: 500;
}