* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    position: relative; 

    min-height: 150px; 
    z-index: 10;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    
    border-radius: 20px;
}

.menu {
    opacity: 0;
    pointer-events: none;
    background: none;
    
    border: none;
    display: flex;
    justify-content: center;   
    align-items: center;
    
    padding: 22px;
    border-radius: 20px;
    z-index: 20;
}

.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121524;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.mobileMenu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

.mobileMenu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
}

.links {
    position: absolute;
    left: 50%;
    /* Moves the element backwards by 50% of its own width. */
    transform: translateX(-50%);

    padding: 12px 40px;
    background-color: #ffffff;
    border: 4px solid #C0C9DB;
    border-radius: 24px;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.lists li {
    text-decoration: none;
}

.links ul li a {
    display: inline-block;
    position: relative;

    text-decoration: none;
    color: #121524;
    transition: color 0.3s ease-in-out;
}

.links ul li a:hover {
    color: #4ED3FF;
}

.links ul li a::after {
    content: '';
    background-color: #4ED3FF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    border-radius: 4px;

    transform: scaleX(0);
    transition: transform 0.3s ease-in-out; 
}

.links ul li a:hover::after {
    transform: scaleX(1);
}

/* Heroes Section */

.heroesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: clamp(12px, 1vw + 0.5rem, 18px);
    flex-grow: 1;
    max-width: 100%;

    width: 600px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 0.9;
    min-height: 450px;

    border-radius: 50px;
}

.basedin {
    color: #6A86B7;
}

.nametag {
    padding: 0;
    color: #121524;
    font-size: clamp(55px, 15vw + 1rem, 100px);
    font-weight: 500;
}

.breifintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quote {
    color:#a8a8a8;
    font-style: italic;
    font-weight: 200;
}

.briefme {
    text-align: center;
    font-size: clamp(14px, 1vw + 0.5rem, 18px);
    color: #121524;
    width: 88%;
}

.briefme span, .basedin span {
    color: #4ED3FF;
}

.more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2C3A5D;
    border-radius: 10px;
    border: 2px solid transparent;

    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.more:hover {
    background-color: #121524;
    border: 2px solid #4ED3FF;

    transform: scale(1.08);
}

.more a {
    text-decoration: none;
    color: #4ED3FF;
}

.icons {
    margin-top: 10px;
    padding-right: 20px;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons a {
    display: inline-flex;
    gap: 8px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.icons a:hover{
    color: #4ED3FF;
    
}

.fishes {
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 20px;
    margin-right: 230px;
    animation: float 7s ease-in-out infinite;
}

.front {
    max-width: 100%; /* Prevents the image box from being wider than the screen */
    height: auto;
    top: 500px;
    margin-right: 460px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    } 50% {
        transform: translateY(20px);
    }
}

@media (max-width: 600px) {
    .links {
        opacity: 0;
        pointer-events: none;
    }

    .menu {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        pointer-events: auto;

        color: #ffffff;
        opacity: 1;
        cursor: pointer;
        border: none;
    }
    
    .description {
        border-radius: 30px;
    }

    .back {
        position: absolute;
        top: 70px;
        left: -5vw;

        width: 105vw;
    }

    .fishes.back img  {
        width: 130vw;
    }

    .front {
        top: 540px;
        left: -22vw;
        width: 70vw;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .logo {
        padding: 5px;
        border-radius: 14px;
    }

    .logo img {
        width: 46px;
        height: 46px;
    }

    .links {
        padding: 10px 28px;
        border: 2px solid #C0C9DB;
        border-radius: 20px;
        font-size: 14px;
    }

    .links ul {
        gap: 22px;
    }
    
    .back {
        position: absolute;
        top: 70px;
        left: -5vw;

        width: 105vw;
    }

    .fishes.back img  {
        width: 110vw;
    }

    .front {
        position: absolute;
        top: 500px;
        left: -8vw;
        width: 50vw;
    }
}

@media (min-width: 900px) and (max-width: 1250px) {
    .back {
        position: absolute;
        top: 0;
        left: 0vw;

        width: 100vw;
    }

    .front {
        left: 0vw;
    }
}