* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative; 
    height: 160px; 
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    transform: translateX(-400%);
    
    border-radius: 30px;
}

.links {
    position: absolute;
    left: 50%;
    /* Moves the element backwards by 50% of its own width. */
    transform: translateX(-50%);

    padding: 12px 50px;
    background-color: #ffffff;
    border: 4px solid #C0C9DB;
    border-radius: 24px;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.lists li {
    text-decoration: none;
}

.links ul li a {
    display: inline-block;
    position: relative;

    text-decoration: none;
    color: #121524;
    transition: color 0.3s ease-in-out;
}

.links ul li a:hover {
    color: #4ED3FF;
}

.links ul li a::after {
    content: '';
    background-color: #4ED3FF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    border-radius: 4px;

    transform: scaleX(0);
    transition: transform 0.3s ease-in-out; 
}

.links ul li a:hover::after {
    transform: scaleX(1);
}

/* Heroes Section */

.heroesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;

    width: 600px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 0.9;
    height: 450px;

    border-radius: 50px;
}

.basedin {
    color: #6A86B7;
}

.nametag {
    padding: 0;
    color: #121524;
    font-size: 90px;
    font-weight: 500;
}

.breifintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quote {
    color:#a8a8a8;
    font-style: italic;
    font-weight: 200;
}

.briefme {
    text-align: center;
    font-size: 18px;
    color: #121524;
    width: 88%;
}

.briefme span, .basedin span {
    color: #4ED3FF;
}

.more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2C3A5D;
    border-radius: 10px;
    border: 2px solid transparent;

    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.more:hover {
    background-color: #121524;
    border: 2px solid #4ED3FF;

    transform: scale(1.08);
}

.more a {
    text-decoration: none;
    color: #4ED3FF;
}

.icons {
    margin-top: 10px;
    padding-right: 20px;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons a {
    display: inline-flex;
    gap: 8px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.icons a:hover{
    color: #4ED3FF;
    
}

.fishes {
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 20px;
    margin-right: 230px;
    animation: float 7s ease-in-out infinite;
}

.front {
    max-width: 100%; /* Prevents the image box from being wider than the screen */
    height: auto;
    top: 500px;
    margin-right: 460px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    } 50% {
        transform: translateY(20px);
    }
}

@media (max-width: 600px) {
    .label {
        font-size: 13px;
    }

    .description {
        height: 400px;
        border-radius: 30px;
    }

    .nametag {
        font-size: 70px;
    }

    .briefme {
        font-size: 14px;
    }

    .back {
        position: absolute;
        top: 5vh;
        left: -5vw;

        width: 105vw;
    }

    .fishes.back img  {
        width: 130vw;
    }

    .front {
        position: absolute;
        top: 62vh;
        left: -22vw;
        width: 70vw;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .back {
        position: absolute;
        top: 5vh;
        left: -5vw;

        width: 105vw;
    }

    .fishes.back img  {
        width: 110vw;
    }

    .front {
        position: absolute;
        top: 65vh;
        left: -8vw;
        width: 50vw;
    }
}

@media (min-width: 900px) and (max-width: 1250px) {
    .back {
        position: absolute;
        top: 0vh;
        left: 0vw;

        width: 100vw;
    }

    .front {
        top: 60vh;
        left: 0vw;
    }
}