* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 

    min-height: 120px; 
    z-index: 10;

    transition: all 0.5s ease-in-out;
}

.navbar.scrolled {
    min-height: 86px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.logo {
    padding: 8px;
    
    border-radius: 20px;
}

.menu {
    opacity: 0;
    pointer-events: none;
    background: none;
    border: none;
    
    padding: 22px;
    border-radius: 20px;
    z-index: 20;
}

.links {
    position: absolute;
    left: 50%;
    /* Moves the element backwards by 50% of its own width. */
    transform: translateX(-50%);

    padding: 12px 40px;
    background-color: hsl(from var(--clr-neutral-100) h s l / 0.8);
    border: 4px solid var(--clr-primary-400);
    border-radius: 24px;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.lists li {
    text-decoration: none;
}

.links ul li a {
    display: inline-block;
    position: relative;

    text-decoration: none;
    color: var(--clr-primary-800);
    transition: color 0.3s ease-in-out;
}

.links ul li a:hover,  .links ul li a.active{
    color: var(--clr-secondary-300);
}

.links ul li a::after, .links ul li a.active::after {
    content: '';
    background-color: var(--clr-secondary-300);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    border-radius: 4px;

    transform: scaleX(0);
    transition: transform 0.3s ease-in-out; 
}

.links ul li a:hover::after,  .links ul li a.active::after {
    transform: scaleX(1);
}

/* Heroes Section */

.heroesection {
    flex-direction: column;
    padding: 40px;

    margin-top: 155px;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: clamp(12px, 1vw + 0.5rem, 18px);
    flex-grow: 1;
    max-width: 100%;

    width: 600px;
}

.description {
    flex-direction: column;
    background-color: var(--clr-neutral-100);
    opacity: 0.9;
    min-height: 450px;

    border-radius: 50px;
}

.basedin {
    color: var(--clr-primary-500);
}

.nametag {
    padding: 0;
    color: var(--clr-primary-800);
    font-size: clamp(55px, 15vw + 1rem, 100px);
    font-weight: 600;
}

.breifintro {
    flex-direction: column;
    gap: 10px;
}

.quote {
    color: var(--clr-neutral-200);;
    font-style: italic;
    font-weight: 200;
}

.briefme {
    text-align: center;
    font-size: clamp(14px, 1vw + 0.5rem, 18px);
    color:  var(--clr-primary-800);
    width: 88%;
}

.briefme span, .basedin span {
    color:  var(--clr-secondary-300);
}

.more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--clr-primary-650);
    border-radius: 10px;
    border: 2px solid transparent;

    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.more:hover {
    background-color: var(--clr-primary-800);
    border: 2px solid var(--clr-secondary-300);

    transform: scale(1.08);
}

.more a {
    text-decoration: none;
    color: var(--clr-secondary-300);
}

.icons {
    margin-top: 10px;
    padding-right: 20px;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons a {
    display: inline-flex;
    gap: 8px;
    text-decoration: none;
    color: var(--clr-neutral-100);
    transition: color 0.3s ease-in-out;
}

.icons a:hover{
    color: var(--clr-secondary-300);
    
}

.fishes {
    overflow-x: hidden;
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 20px;
    margin-right: 230px;
    animation: float 7s ease-in-out infinite;
}

.front {
    max-width: 100%; /* Prevents the image box from being wider than the screen */
    height: auto;
    top: 500px;
    margin-right: 460px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    } 50% {
        transform: translateY(20px);
    }
}

@media (max-width: 600px) {
    .links {
        opacity: 0;
        pointer-events: none;
    }

    .menu {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        pointer-events: auto;

        color: var(--clr-neutral-100);
        opacity: 1;
        cursor: pointer;
        border: none;
    }

    .mobileMenu {
        position: fixed;
        inset: 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--clr-primary-800);
        z-index: 10;

        animation: fadeIn 0.2s ease;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }

    .mobileMenu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 40px;
        overflow-y: hidden;
    }

    .mobileMenu ul li {
        opacity: 0;
        animation: fadeInUpwards 0.3s ease forwards;
    }

    @keyframes fadeInUpwards {
        from {
            opacity: 0;
            transform: translateY(10px);
        } to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .mobileMenu a {
        color: var(--clr-neutral-100);
        text-decoration: none;
        font-size: 2rem;
    }
    
    .description {
        border-radius: 30px;
    }

    .back {
        position: absolute;
        top: 70px;
        left: -5vw;

        width: 105vw;
    }

    .fishes.back img  {
        width: 130vw;
    }

    .front {
        top: 540px;
        left: -22vw;
        width: 70vw;
    }

    .projects {
        grid-template-columns: 1fr !important; 
        width: 100% !important;
        gap: 50px !important; 
        width: clamp(50vw, 800px) !important;
    }

    .project .image {
        height: 60vw !important;
    }

    .project .header, .project .name, .projectBio, .project .tool {
        font-size: clamp(12px, 1vw + 0.5rem, 20px) !important;
    }

    .footerBio {
        flex-direction: column !important;
        gap: 20px !important;
        width: 90vw !important;
    }

    .canvas {
        width: 800vw !important;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .logo {
        padding: 5px;
        border-radius: 14px;
    }

    .logo img {
        width: 46px;
        height: 46px;
    }

    .links {
        padding: 10px 28px;
        border: 2px solid var(--clr-primary-400);
        border-radius: 20px;
        font-size: 14px;
    }

    .links ul {
        gap: 22px;
    }
    
    .back {
        position: absolute;
        top: 70px;
        left: -5vw;

        width: 105vw;
    }

    .fishes.back img  {
        width: 110vw;
    }

    .front {
        position: absolute;
        top: 500px;
        left: -8vw;
        width: 50vw;
    }

    .projects {
        grid-template-columns: 1fr !important; 
        width: 100% !important;
        gap: 50px !important; 
        width: clamp(600px, 70vw, 900px) !important;
    }

    .footerBio {
        flex-direction: column !important;
        gap: 20px !important;
    }

    .canvas {
        width: 430vw !important;
    }
}

@media (min-width: 900px) and (max-width: 1280px) {
    .back {
        position: absolute;
        top: 0;
        left: 0vw;

        width: 100vw;
    }

    .front {
        left: 0vw;
    }

    .canvas {
        width: 300vw !important;
    }
}