:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d202f;
}

body {
  font-family: 'JetBrains Mono', ui-monospace, monospace;
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
}